<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PricePredictor</title>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>

  <header>
    <h2>
      House Price Estimator
    </h2>

    <h4 style="text-align: center;">
      Enter the details of the house you want to estimate the price for:
    </h4>

  </header>

  <form id='myDialog' method="POST" class="center-form">
    <div>
      <label for="bedrooms">Bedrooms:</label> 
      <br>
      <input type="text" id="bedrooms" name="bedrooms" value="3" required>
      <br>
      <br>

      <label for="bathrooms">Bathrooms:</label> 
      <br>
      <input type="text" id="bathrooms" name="bathrooms" value="1" required>
      <br>
      <br>

      <label for="sqft_living">Living Space (sqft):</label> 
      <br>
      <input type="text" id="sqft_living" name="sqft_living" value="1180" required><br><br>

      <label for="sqft_lot">Lot size (sqft):</label> <br>
      <input type="text" id="sqft_lot" name="sqft_lot" value="5650" required><br><br>

      <label for="floors">Floors:</label> <br>
      <input type="text" id="floors" name="floors" value="1" required><br><br>

      <label for="waterfront">Waterfront:</label> <br>
      <input type="radio" id="waterfront_yes" name="waterfront" value="Yes" checked required>
      <label for="waterfront_yes">Yes</label><br>
      <input type="radio" id="waterfront_no" name="waterfront" value="No" required>
      <label for="waterfront_no">No</label><br> <br>

      <label for="condition">Condition:</label> <br>
      <input type="radio" id="condition_1" name="condition" value="1" checked required>
      <label for="condition_1">1 - worst</label><br>
      <input type="radio" id="condition_2" name="condition" value="2" required>
      <label for="condition_2">2</label><br>
      <input type="radio" id="condition_3" name="condition" value="3" required>
      <label for="condition_3">3</label><br>
      <input type="radio" id="condition_4" name="condition" value="4" required>
      <label for="condition_4">4</label><br>
      <input type="radio" id="condition_5" name="condition" value="5" required>
      <label for="condition_5">5 - best</label><br>

      <input class="submit-button" type="submit" value="Submit"> <br><br>
    </div>
    <div class="center-text">
        <br>
        <p><strong>Estimated Price:</strong></p>
        <p> {{ prediction }} </p>
      </div>
  </form>
</body>

</html>